body {
    background: rgb(230, 230, 230);
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    color: blue;
    text-decoration: underline;
}

.dance_title_author,
.dance_menus {
    margin: 15px 0;
    padding: 0;
}

.dance_title_text_field,
.dance_authors_text_field {
    font-size: 23px;
}

/* FIGURE BUTTONS */
.figure_button_list {
    margin: 20px 0;
}
.figure_button_li {
    /* border: 0px solid grey; */
    padding: 0px 0px;
    margin: 0px 0px;
    /* border-radius: 4px; */
    display: inline-block;
}
.button {
    cursor: pointer;
}

/* FIGURE LIST */
.figure_list {
    margin-bottom: 30px;
}
.figure_item_li {
    /* border: 0px solid grey; */
    padding: 4px 10px;
    margin: 4px;
    background: white;
    border-radius: 4px;
}
.figure_item_right {
    float: right;
}
.start_end_beats {
    min-width: 30px;
}
.delete_figure_button {
    display: inline-block;
    /* border: 1px solid rgb(200, 200, 200); */
    /* border-radius: 4px; */
    padding: 0.5px 4px;
    cursor: pointer;
}

/* DANCE CARDS */
.dance_card {
    background: white;
    border: 1px solid #ccc;
    width: 600px;
    height: 160px;
    overflow: auto;
    display: block;
}
.dance_card_small {
    background: white;
    border: 1px solid #ccc;
    width: 400px;
    height: 150px;
    font-size: 50%;
    overflow: auto;
    display: block;
}

/* DANCE LIST */
.dance_list {
    margin: 20px 0px;
}
.dance_list_item {
    font-size: 23px;
    margin: 10px 0;
}

.link {
    cursor: pointer;
}
