body {
    background: rgb(230, 230, 230);
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.figure_button_list {
    margin: 20px 0;
}
.figure_button {
    border: 0px solid grey;
    padding: 4px 10px;
    margin: 4px;
    background: white;
    border-radius: 4px;
    display: inline-block;
}
.figure_item_li {
    border: 0px solid grey;
    padding: 4px 10px;
    margin: 4px;
    background: white;
    border-radius: 4px;
}
